---
import Layout from '../layouts/Layout.astro';
import PrivacyPageTemplate from '../components/PrivacyPageTemplate.astro';
---

<Layout
  header="global"
  title="Privacy Policy - Ride Skills"
  mainElementClasses="bg-white p-8 md:p-16"
>
  <div class="lg:w-3/4">
    <PrivacyPageTemplate />
  </div>
</Layout>
